:root {
    --md-sys-color-primary: #b1c6ff;
    --md-sys-color-on-primary: #002c70;
    --md-sys-color-primary-container: #00419d;
    --md-sys-color-on-primary-container: #d9e2ff;
    --md-sys-color-secondary: #c0c6dc;
    --md-sys-color-on-secondary: #2a3042;
    --md-sys-color-secondary-container: #404659;
    --md-sys-color-on-secondary-container: #dce2f9;
    --md-sys-color-tertiary: #e0bbdd;
    --md-sys-color-on-tertiary: #412742;
    --md-sys-color-tertiary-container: #593d59;
    --md-sys-color-on-tertiary-container: #fdd7fa;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffb4ab;
    --md-sys-color-background: #1b1b1f;
    --md-sys-color-on-background: #e3e2e6;
    --md-sys-color-surface: #1b1b1f;
    --md-sys-color-on-surface: #e3e2e6;
    --md-sys-color-surface-variant: #44464f;
    --md-sys-color-on-surface-variant: #c5c6d0;
    --md-sys-color-outline: #8f9099;
    --md-sys-color-outline-variant: #44464f;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-inverse-surface: #e3e2e6;
    --md-sys-color-inverse-on-surface: #303034;
    --md-sys-color-inverse-primary: #0057cd;
    --md-sys-color-primary-light: #0057cd;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #d9e2ff;
    --md-sys-color-on-primary-container-light: #001946;
    --md-sys-color-secondary-light: #585e71;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #dce2f9;
    --md-sys-color-on-secondary-container-light: #151b2c;
    --md-sys-color-tertiary-light: #725572;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #fdd7fa;
    --md-sys-color-on-tertiary-container-light: #2a122c;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fefbff;
    --md-sys-color-on-background-light: #1b1b1f;
    --md-sys-color-surface-light: #fefbff;
    --md-sys-color-on-surface-light: #1b1b1f;
    --md-sys-color-surface-variant-light: #e1e2ec;
    --md-sys-color-on-surface-variant-light: #44464f;
    --md-sys-color-outline-light: #757780;
    --md-sys-color-outline-variant-light: #c5c6d0;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-inverse-surface-light: #303034;
    --md-sys-color-inverse-on-surface-light: #f2f0f4;
    --md-sys-color-inverse-primary-light: #b1c6ff;
    --md-sys-color-primary-dark: #b1c6ff;
    --md-sys-color-on-primary-dark: #002c70;
    --md-sys-color-primary-container-dark: #00419d;
    --md-sys-color-on-primary-container-dark: #d9e2ff;
    --md-sys-color-secondary-dark: #c0c6dc;
    --md-sys-color-on-secondary-dark: #2a3042;
    --md-sys-color-secondary-container-dark: #404659;
    --md-sys-color-on-secondary-container-dark: #dce2f9;
    --md-sys-color-tertiary-dark: #e0bbdd;
    --md-sys-color-on-tertiary-dark: #412742;
    --md-sys-color-tertiary-container-dark: #593d59;
    --md-sys-color-on-tertiary-container-dark: #fdd7fa;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-container-dark: #ffb4ab;
    --md-sys-color-background-dark: #1b1b1f;
    --md-sys-color-on-background-dark: #e3e2e6;
    --md-sys-color-surface-dark: #1b1b1f;
    --md-sys-color-on-surface-dark: #e3e2e6;
    --md-sys-color-surface-variant-dark: #44464f;
    --md-sys-color-on-surface-variant-dark: #c5c6d0;
    --md-sys-color-outline-dark: #8f9099;
    --md-sys-color-outline-variant-dark: #44464f;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-inverse-surface-dark: #e3e2e6;
    --md-sys-color-inverse-on-surface-dark: #303034;
    --md-sys-color-inverse-primary-dark: #0057cd;
    --md-sys-color-surface-level0: #b1c6ff00;
    --md-sys-color-surface-level1: #b1c6ff0d;
    --md-sys-color-surface-level2: #b1c6ff14;
    --md-sys-color-surface-level3: #b1c6ff1c;
    --md-sys-color-surface-level4: #b1c6ff1f;
    --md-sys-color-surface-level5: #b1c6ff24;
    --md-sys-color-surface-level0-light: #0057cd00;
    --md-sys-color-surface-level1-light: #0057cd0d;
    --md-sys-color-surface-level2-light: #0057cd14;
    --md-sys-color-surface-level3-light: #0057cd1c;
    --md-sys-color-surface-level4-light: #0057cd1f;
    --md-sys-color-surface-level5-light: #0057cd24;
    --md-sys-color-surface-level0-dark: #b1c6ff00;
    --md-sys-color-surface-level1-dark: #b1c6ff0d;
    --md-sys-color-surface-level2-dark: #b1c6ff14;
    --md-sys-color-surface-level3-dark: #b1c6ff1c;
    --md-sys-color-surface-level4-dark: #b1c6ff1f;
    --md-sys-color-surface-level5-dark: #b1c6ff24;
    --md-sys-color-surface-dim: #131317;
    --md-sys-color-surface-bright: #39393d;
    --md-sys-color-surface-container-lowest: #0e0e12;
    --md-sys-color-surface-container-low: #1b1b1f;
    --md-sys-color-surface-container: #1f1f23;
    --md-sys-color-surface-container-high: #2a2a2e;
    --md-sys-color-surface-container-highest: #353439;
    --md-sys-color-surface-dim-light: #dcd9dd;
    --md-sys-color-surface-bright-light: #fbf8fc;
    --md-sys-color-surface-container-lowest-light: #ffffff;
    --md-sys-color-surface-container-low-light: #f5f3f7;
    --md-sys-color-surface-container-light: #f0edf1;
    --md-sys-color-surface-container-high-light: #eae7eb;
    --md-sys-color-surface-container-highest-light: #e4e1e5;
    --md-sys-color-surface-dim-dark: #131317;
    --md-sys-color-surface-bright-dark: #39393d;
    --md-sys-color-surface-container-lowest-dark: #0e0e12;
    --md-sys-color-surface-container-low-dark: #1b1b1f;
    --md-sys-color-surface-container-dark: #1f1f23;
    --md-sys-color-surface-container-high-dark: #2a2a2e;
    --md-sys-color-surface-container-highest-dark: #353439;
    --md-sys-color-surface-dim-rgb: 19 19 23;
    --md-sys-color-surface-bright-rgb: 57 57 61;
    --md-sys-color-surface-container-lowest-rgb: 14 14 18;
    --md-sys-color-surface-container-low-rgb: 27 27 31;
    --md-sys-color-surface-container-rgb: 31 31 35;
    --md-sys-color-surface-container-high-rgb: 42 42 46;
    --md-sys-color-surface-container-highest-rgb: 53 52 57;
    --md-sys-color-surface-dim-light-rgb: 220 217 221;
    --md-sys-color-surface-bright-light-rgb: 251 248 252;
    --md-sys-color-surface-container-lowest-light-rgb: 255 255 255;
    --md-sys-color-surface-container-low-light-rgb: 245 243 247;
    --md-sys-color-surface-container-light-rgb: 240 237 241;
    --md-sys-color-surface-container-high-light-rgb: 234 231 235;
    --md-sys-color-surface-container-highest-light-rgb: 228 225 229;
    --md-sys-color-surface-dim-dark-rgb: 19 19 23;
    --md-sys-color-surface-bright-dark-rgb: 57 57 61;
    --md-sys-color-surface-container-lowest-dark-rgb: 14 14 18;
    --md-sys-color-surface-container-low-dark-rgb: 27 27 31;
    --md-sys-color-surface-container-dark-rgb: 31 31 35;
    --md-sys-color-surface-container-high-dark-rgb: 42 42 46;
    --md-sys-color-surface-container-highest-dark-rgb: 53 52 57;
    --md-sys-color-primary-rgb: 177 198 255;
    --md-sys-color-on-primary-rgb: 0 44 112;
    --md-sys-color-primary-container-rgb: 0 65 157;
    --md-sys-color-on-primary-container-rgb: 217 226 255;
    --md-sys-color-secondary-rgb: 192 198 220;
    --md-sys-color-on-secondary-rgb: 42 48 66;
    --md-sys-color-secondary-container-rgb: 64 70 89;
    --md-sys-color-on-secondary-container-rgb: 220 226 249;
    --md-sys-color-tertiary-rgb: 224 187 221;
    --md-sys-color-on-tertiary-rgb: 65 39 66;
    --md-sys-color-tertiary-container-rgb: 89 61 89;
    --md-sys-color-on-tertiary-container-rgb: 253 215 250;
    --md-sys-color-error-rgb: 255 180 171;
    --md-sys-color-on-error-rgb: 105 0 5;
    --md-sys-color-error-container-rgb: 147 0 10;
    --md-sys-color-on-error-container-rgb: 255 180 171;
    --md-sys-color-background-rgb: 27 27 31;
    --md-sys-color-on-background-rgb: 227 226 230;
    --md-sys-color-surface-rgb: 27 27 31;
    --md-sys-color-on-surface-rgb: 227 226 230;
    --md-sys-color-surface-variant-rgb: 68 70 79;
    --md-sys-color-on-surface-variant-rgb: 197 198 208;
    --md-sys-color-outline-rgb: 143 144 153;
    --md-sys-color-outline-variant-rgb: 68 70 79;
    --md-sys-color-shadow-rgb: 0 0 0;
    --md-sys-color-scrim-rgb: 0 0 0;
    --md-sys-color-inverse-surface-rgb: 227 226 230;
    --md-sys-color-inverse-on-surface-rgb: 48 48 52;
    --md-sys-color-inverse-primary-rgb: 0 87 205;
    --md-sys-color-primary-light-rgb: 0 87 205;
    --md-sys-color-on-primary-light-rgb: 255 255 255;
    --md-sys-color-primary-container-light-rgb: 217 226 255;
    --md-sys-color-on-primary-container-light-rgb: 0 25 70;
    --md-sys-color-secondary-light-rgb: 88 94 113;
    --md-sys-color-on-secondary-light-rgb: 255 255 255;
    --md-sys-color-secondary-container-light-rgb: 220 226 249;
    --md-sys-color-on-secondary-container-light-rgb: 21 27 44;
    --md-sys-color-tertiary-light-rgb: 114 85 114;
    --md-sys-color-on-tertiary-light-rgb: 255 255 255;
    --md-sys-color-tertiary-container-light-rgb: 253 215 250;
    --md-sys-color-on-tertiary-container-light-rgb: 42 18 44;
    --md-sys-color-error-light-rgb: 186 26 26;
    --md-sys-color-on-error-light-rgb: 255 255 255;
    --md-sys-color-error-container-light-rgb: 255 218 214;
    --md-sys-color-on-error-container-light-rgb: 65 0 2;
    --md-sys-color-background-light-rgb: 254 251 255;
    --md-sys-color-on-background-light-rgb: 27 27 31;
    --md-sys-color-surface-light-rgb: 254 251 255;
    --md-sys-color-on-surface-light-rgb: 27 27 31;
    --md-sys-color-surface-variant-light-rgb: 225 226 236;
    --md-sys-color-on-surface-variant-light-rgb: 68 70 79;
    --md-sys-color-outline-light-rgb: 117 119 128;
    --md-sys-color-outline-variant-light-rgb: 197 198 208;
    --md-sys-color-shadow-light-rgb: 0 0 0;
    --md-sys-color-scrim-light-rgb: 0 0 0;
    --md-sys-color-inverse-surface-light-rgb: 48 48 52;
    --md-sys-color-inverse-on-surface-light-rgb: 242 240 244;
    --md-sys-color-inverse-primary-light-rgb: 177 198 255;
    --md-sys-color-primary-dark-rgb: 177 198 255;
    --md-sys-color-on-primary-dark-rgb: 0 44 112;
    --md-sys-color-primary-container-dark-rgb: 0 65 157;
    --md-sys-color-on-primary-container-dark-rgb: 217 226 255;
    --md-sys-color-secondary-dark-rgb: 192 198 220;
    --md-sys-color-on-secondary-dark-rgb: 42 48 66;
    --md-sys-color-secondary-container-dark-rgb: 64 70 89;
    --md-sys-color-on-secondary-container-dark-rgb: 220 226 249;
    --md-sys-color-tertiary-dark-rgb: 224 187 221;
    --md-sys-color-on-tertiary-dark-rgb: 65 39 66;
    --md-sys-color-tertiary-container-dark-rgb: 89 61 89;
    --md-sys-color-on-tertiary-container-dark-rgb: 253 215 250;
    --md-sys-color-error-dark-rgb: 255 180 171;
    --md-sys-color-on-error-dark-rgb: 105 0 5;
    --md-sys-color-error-container-dark-rgb: 147 0 10;
    --md-sys-color-on-error-container-dark-rgb: 255 180 171;
    --md-sys-color-background-dark-rgb: 27 27 31;
    --md-sys-color-on-background-dark-rgb: 227 226 230;
    --md-sys-color-surface-dark-rgb: 27 27 31;
    --md-sys-color-on-surface-dark-rgb: 227 226 230;
    --md-sys-color-surface-variant-dark-rgb: 68 70 79;
    --md-sys-color-on-surface-variant-dark-rgb: 197 198 208;
    --md-sys-color-outline-dark-rgb: 143 144 153;
    --md-sys-color-outline-variant-dark-rgb: 68 70 79;
    --md-sys-color-shadow-dark-rgb: 0 0 0;
    --md-sys-color-scrim-dark-rgb: 0 0 0;
    --md-sys-color-inverse-surface-dark-rgb: 227 226 230;
    --md-sys-color-inverse-on-surface-dark-rgb: 48 48 52;
    --md-sys-color-inverse-primary-dark-rgb: 0 87 205;
}